# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files
*.bak

# IDE-specific files (e.g., PyCharm, IntelliJ)
.idea/
.vscode/

# Python-specific files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
.eggs/
lib/
parts/
sdist/
var/
wheels/
*.whl
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
