{% extends "base.html" %}
{% load widget_tweaks %}


{% block title %}Change Password{% endblock title %}

{% block body %}

<h3 class="text-center mt-5">Change Password</h3>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{field|add_class:"form-control"}}
                </div>
                {% endfor %}
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary mb-3">Update Password</button>
                    <a href="{{request.META.HTTP_REFERER}}" class="btn mb-3 btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock body %}